@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    background-color: #303539;
    padding-top: 60px;
}

span {
    color: white;
    font-size: 25px;
}

.container {
    padding: 0 15px;
    max-width: 1230px;
    margin: 0 auto;
}


/* scroll style */
::-webkit-scrollbar {
    width: 5px;
    background-color: #303539;
    border-radius: 15px;
}

::-webkit-scrollbar-thumb {
    background-color: #606365;
    width: 3px;
    border-radius: 15px;
}
